
body
{
    font-family: arial;
    font-size: 13px;
    margin-top: 0;
}

label
{
    align-self: center;
}

table
{
    width: 100%;
    border-spacing: 0;
}

tr
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

thead
{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    position: sticky;
    inset-block-start: 0;
    top: 8px;
    background-color: white;
}

th
{
    text-align: center;
    border-bottom: solid black 1px;
}

td
{
    text-align: center;
}

table td + td
{
    border-left: solid black 1px;
}

table th + th
{
    border-left: solid black 1px;
}

tr:hover
{
    background-color: lightgray;
    color: black;
}

#btnToggleGraph
{
    width: fit-content;
    margin-bottom: 10px;
}

#cnvPlot
{
    width: 100%;
    height: 100%;
    grid-area: b;
}

#cnvXAxis
{
    width: 100%;
    height: 100%;
    grid-area: d;
}

#cnvYAxis
{
    width: 100%;
    height: 100%;
    grid-area: a;
}

#dvLeft
{
    display: flex;
    flex-direction: column;
    position: fixed;
    inset-block-start: 0;
    top: 8px;
    max-width: 15%;
}

#dvLeft > a
{
    margin-bottom: 10px;
    width: fit-content;
}

#dvDate
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1%;
    margin-bottom: 20px;
}

#dvTable
{
    position: absolute;
    width: 70%;
    left: 20%;
    top: 8px;
}

#dvGraph
{
    display: none;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 8fr 1fr;
    grid-template-areas: "a b"
                         "c d";
    position: absolute;
    width: 70%;
    left: 20%;
    top: 8px;
    aspect-ratio: 16/9;
}

#dvGraphInputs
{
    display: none;
    grid-template-columns: 1fr;
    gap: 5px 0;
}

#dvGraphInputs > span
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px 0;
}

#dvHideTop
{
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: white;
    z-index: 100;
}

#dvInputs
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px 0;
    margin-bottom: 20px;
}

#dvInputs > input
{
    width: 5em;
}

#pGraphDataEquation
{
    font-family: monospace;
}

#pHoverInfo
{
    display: none;
    position: fixed;
    margin: 0;
    padding: 2px;
    background-color: white;
    pointer-events: none;
}

.saveFileShown
{
    color: blue;
}

.saveFileHidden
{
    color: white;
    pointer-events: none;
}

.selectedcsv
{
    font-weight: bold;
}

.minmaxRow
{
    border-bottom: solid black 1px;
}

.minmaxRow > td
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.minmaxRow > td > p
{
    margin: 0;
    font-weight: bold;
}

.minmaxRow > td > p:first-child
{
    color: blue
}

.minmaxRow > td > p:nth-child(2)
{
    color: red;
}

.trNight
{
    background-color: #202080;
    color: yellow;
}

.trCharging
{
    background-color: lightgreen;
    color: black;
}

.trMin
{
    background-color: lightblue;
    color: black;
}

.trMax
{
    background-color: orangered;
    color: black;
}
