
body
{
    font-family: arial;
    font-size: 13px;
}

input[type=number]
{
    appearance: textfield;
}

label
{
    align-self: center;
}

table
{
    table-layout: fixed;
    border-spacing: 0;
    width: fit-content;
}

th, td
{
    text-align: center;
    width: 8em;
    transition-property: width, font-size;
    transition-duration: 0.3s;
}

th
{
    background-color: white;
    border-bottom: solid black 1px;
}

th:first-child
{
    position: sticky;
    left: 0;
    z-index: 2;
    border-right: solid black 1px;
}

thead th
{
    position: sticky;
    top: 0;
}

tr th
{
    border-bottom: none;
    font-weight: normal;
}

thead th:first-child
{
    z-index: 3;
}

tr:hover
{
    background-color: lightgray;
    color: black;
}

#btnToggleGraph
{
    width: fit-content;
    margin-bottom: 10px;
}

#cnvPlot
{
    width: 100%;
    height: 100%;
    grid-area: b;
}

#cnvXAxis
{
    width: 100%;
    height: 100%;
    grid-area: d;
}

#cnvYAxis
{
    width: 100%;
    height: 100%;
    grid-area: a;
}

#dvColumnVisibilityInputs
{
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 5px 0;
}

#dvDate
{
    display: flex;
    gap: 0 5px;
    margin-bottom: 20px;
}

#dvGraph
{
    display: none;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 8fr 1fr;
    grid-template-areas: "a b"
                         "c d";
    aspect-ratio: 16/9;
    width: calc(100vh/9*16);
}

#dvGraphInputs
{
    display: none;
    grid-template-columns: 1fr;
    gap: 5px 0;
}

#dvGraphInputs > span
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px 0;
}

#dvInputs
{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px 0;
    margin-bottom: 20px;
}

#dvInputs > input
{
    width: calc(100% - 8px);
    height: fit-content;
}

#dvLeft
{
    width: 16em;
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-shrink: 0;
    height: 100%;
}

#dvLeft > a
{
    margin-bottom: 10px;
    width: fit-content;
}

#dvPageContainer
{
    display: flex;
    gap: 0 10px;
    align-items: start;
    height: calc(100vh - 16px);
}

#dvTable
{
    overflow-x: auto;
    height: 100%;
}

#inpDate
{
    flex-grow: 1;
}

#pGraphDataEquation
{
    font-family: monospace;
}

#pHoverInfo
{
    display: none;
    position: fixed;
    margin: 0;
    padding: 2px;
    background-color: white;
    pointer-events: none;
}

.saveFileShown
{
    color: blue;
}

.saveFileHidden
{
    color: white;
    pointer-events: none;
}

.scrollShadowHorizontal
{
    background:
        linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)) center left,
        linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%) center right,
        
        linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0)) center left,
        linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 100%) center right;

    background-repeat: no-repeat;
    background-size: 30px 100%, 30px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
}

.scrollShadowVertical
{
    background:
        linear-gradient(rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)) center top,
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%) center bottom,
        
        linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0)) center top,
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 100%) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 30px, 100% 30px, 100% 10px, 100% 10px;
    background-attachment: local, local, scroll, scroll;
}

.tdNight
{
    background-color: #202080;
    color: yellow;
}

.tdCharging
{
    background-color: lightgreen;
    color: black;
}

.tdMin
{
    background-color: lightblue;
    color: black;
}

.tdMax
{
    background-color: orangered;
    color: black;
}


/* this is awful */
table.colHidden1  thead th:nth-child(1),
table.colHidden2  thead th:nth-child(2),
table.colHidden3  thead th:nth-child(3),
table.colHidden4  thead th:nth-child(4),
table.colHidden5  thead th:nth-child(5),
table.colHidden6  thead th:nth-child(6),
table.colHidden7  thead th:nth-child(7),
table.colHidden8  thead th:nth-child(8),
table.colHidden9  thead th:nth-child(9),
table.colHidden10 thead th:nth-child(10),
table.colHidden11 thead th:nth-child(11),
table.colHidden12 thead th:nth-child(12),
table.colHidden13 thead th:nth-child(13),
table.colHidden14 thead th:nth-child(14),
table.colHidden15 thead th:nth-child(15),
table.colHidden16 thead th:nth-child(16),
table.colHidden17 thead th:nth-child(17),
table.colHidden18 thead th:nth-child(18),
table.colHidden19 thead th:nth-child(19),
table.colHidden20 thead th:nth-child(20),

table.colHidden1  tr td:nth-child(1),
table.colHidden2  tr td:nth-child(2),
table.colHidden3  tr td:nth-child(3),
table.colHidden4  tr td:nth-child(4),
table.colHidden5  tr td:nth-child(5),
table.colHidden6  tr td:nth-child(6),
table.colHidden7  tr td:nth-child(7),
table.colHidden8  tr td:nth-child(8),
table.colHidden9  tr td:nth-child(9),
table.colHidden10 tr td:nth-child(10),
table.colHidden11 tr td:nth-child(11),
table.colHidden12 tr td:nth-child(12),
table.colHidden13 tr td:nth-child(13),
table.colHidden14 tr td:nth-child(14),
table.colHidden15 tr td:nth-child(15),
table.colHidden16 tr td:nth-child(16),
table.colHidden17 tr td:nth-child(17),
table.colHidden18 tr td:nth-child(18),
table.colHidden19 tr td:nth-child(19),
table.colHidden20 tr td:nth-child(20)
{
    width: 0;
    font-size: 0;
}


table.colHiddenFully1  thead th:nth-child(1),
table.colHiddenFully2  thead th:nth-child(2),
table.colHiddenFully3  thead th:nth-child(3),
table.colHiddenFully4  thead th:nth-child(4),
table.colHiddenFully5  thead th:nth-child(5),
table.colHiddenFully6  thead th:nth-child(6),
table.colHiddenFully7  thead th:nth-child(7),
table.colHiddenFully8  thead th:nth-child(8),
table.colHiddenFully9  thead th:nth-child(9),
table.colHiddenFully10 thead th:nth-child(10),
table.colHiddenFully11 thead th:nth-child(11),
table.colHiddenFully12 thead th:nth-child(12),
table.colHiddenFully13 thead th:nth-child(13),
table.colHiddenFully14 thead th:nth-child(14),
table.colHiddenFully15 thead th:nth-child(15),
table.colHiddenFully16 thead th:nth-child(16),
table.colHiddenFully17 thead th:nth-child(17),
table.colHiddenFully18 thead th:nth-child(18),
table.colHiddenFully19 thead th:nth-child(19),
table.colHiddenFully20 thead th:nth-child(20),

table.colHiddenFully1  tr td:nth-child(1),
table.colHiddenFully2  tr td:nth-child(2),
table.colHiddenFully3  tr td:nth-child(3),
table.colHiddenFully4  tr td:nth-child(4),
table.colHiddenFully5  tr td:nth-child(5),
table.colHiddenFully6  tr td:nth-child(6),
table.colHiddenFully7  tr td:nth-child(7),
table.colHiddenFully8  tr td:nth-child(8),
table.colHiddenFully9  tr td:nth-child(9),
table.colHiddenFully10 tr td:nth-child(10),
table.colHiddenFully11 tr td:nth-child(11),
table.colHiddenFully12 tr td:nth-child(12),
table.colHiddenFully13 tr td:nth-child(13),
table.colHiddenFully14 tr td:nth-child(14),
table.colHiddenFully15 tr td:nth-child(15),
table.colHiddenFully16 tr td:nth-child(16),
table.colHiddenFully17 tr td:nth-child(17),
table.colHiddenFully18 tr td:nth-child(18),
table.colHiddenFully19 tr td:nth-child(19),
table.colHiddenFully20 tr td:nth-child(20)
{
    display: none;
}